
<style type="text/css">
  #blah {width:700px; margin:auto;}
  #left, #right {width:45%;
    padding:10px;
    border:1px solid red;
    }
  #left {float:left;}
  #right {float:right;}
  
  label {
    font-weight:bold;
    font-size:22px;
    display:block;
    margin-bottom:7px;
  }
  fieldset {
    margin-bottom:15px;
  }
  input.readonly {
    border:0;
  }
</style>

<script type="text/javascript">
  $(function(){
    console.log("hello");
    
    $("#website").keyup(function(){
      var val = $(this).val();
      $("#domain").val("@" + val);
    });
    
    
  })
</script>
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <fieldset>
    <label>Your Website</label>
    <input type="text" name="website" id="website" value="example.com" onblur="this.value=!this.value?'example.com':this.value;" onclick="if(this.value==='example.com')this.value = '';" onfocus="this.select();" />
  </fieldset>
  
  <fieldset>
    <label>Your Email Address</label>
    <input type="text" name="email_name" style="text-align:right" />
      <input type="text" name="domain" id="domain" value="@example.com" class="readonly" READONLY/>
    <p>
      Email address must be for the website 
      <br/>you want to manage to verify ownership.
    </p>
  </fieldset>
    
  <fieldset>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </fieldset>

  <fieldset>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </fieldset>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
