
<div id="profile-left">
  <h1 style="margin:30px 0"><%= @website.domain %></h1>
</div>

<div id="profile-right">
  <%= render :partial => "graph/user_form" %>
</div>

<ul id="switch">
  <li><a href="#">Used By</a></li>
  <li><a href="#">Uses</a></li>
</ul>

<div id="panel">
  
  <div class="tabs">
  
<% if @website.usedby_data[:websites].any? %>
  <% @website.usedby_data[:websites].each do |profile| %>
    <div class="profile">
      <%= link_to profile[:domain], domain_index_path(profile[:domain]) %>
      <p>
        <%= profile[:comment_by] %>
      </p>
    </div>
  <% end %>
<% else %>
  No data yet.
<% end %>
  </div>

  <div class="tabs">
<% if @website.uses_data[:websites].any? %>    
  <% @website.uses_data[:websites].each do |profile| %>
    <div class="profile">
      <%= link_to profile[:domain], domain_index_path(profile[:domain]) %>
      <p>
        <%= profile[:comment_on] %>
      </p>
    </div>
  <% end %>
<% else %>
  No data yet.
<% end %>  
  </div>

</div>

<script type="text/javascript">
  $(function(){
    simpleTabs.init($("#switch"), $("#panel"));
  })
</script>