

<h1 id="main-title" class="cufon-header">Google Uses <em><%= @site_name %></em> to <br/>Broadcast its Reputation.</h1>

<p style="text-align:center; margin-bottom:40px; color:#638080">
  (Ok, that's not true yet, but wouldn't that statement
  automatically give <%= @site_name %> more credibility?)
</p>

<div id="box">
  <h1 class="cufon" id="box-top">How it Works</h1>
  <div class="inner">
    <p style="font-size:24px;">
      <%= @site_name %> helps web applications build great reputations
      <br/>by collecting and sharing <em>verifiable</em> testimonials
      <br/>from the websites that use them.
    </p>
  
    <h2 class="cufon">1. Apps Get Used</h2>
  
    <table id="works-pic" width="100%">
      <tr>
        <td><img src="/images/flightcaster.png" /></td>
        <td class="mid"><span>uses</span></td>
        <td><img src="/images/heroku.jpg" /></td>
      </tr>
    </table>
  
    <p>
      Flightcaster uses Heroku to manage its application infrastructure.
    </p>
  
    <h2 class="cufon">2. Experiences are Shared</h2>
    <p>
      jason@flightcaster.com shares his experience with heroku
      <br/>by adding a quick comment to <%= link_to "#{@site_name}/heroku.com", domain_index_path("heroku.com") %>
    </p>
  
    <h2 class="cufon">3. Reputation Data Grows</h2>
    <p>
      Heroku's reputation along with cool metadata is publicly available via <%= @site_name %>'s data API:
      <br/>
    </p>

    <p>
      <img src="/images/json.gif" />
    </p>
  

    <h2 class="cufon">4. Broadcast Your Reputation</h2>
    <ol class="ordered-list">
      <li>Share your <%= @site_name %> profile with new customers.</li>
      <li>Add apt.fm's widgets to your website.</li>
      <li>Build custom widgets using <%= @site_name %>'s api.</li>
    </ol>
    
    <h2 id="sample-header">Used by Over 1,000 companies worldwide.</h2>
    <p>
      <img src="/images/sample-logo-wall.jpg" id="sample-logo-wall"/>
    <p>

    <div style="color:#999;text-align:center;">
      This is an example <b>Used By</b> widget.
      <br/>(image copyright <a href="http://www.getexceptional.com/">http://www.getexceptional.com/</a> and used here only for demo purposes.)
    </div>
    
  </div>
  
</div>  

<div style="text-align:center">
  <h1 class="cufon" style="margin:50px 0">Help Us By Taking Our 5 Question Survey</h1>
  
  <div id="surveyMonkeyInfo"><div><script src="http://www.surveymonkey.com/jsEmbed.aspx?sm=rFw8Jg4QJoLHOVLUfY7n7g_3d_3d"> </script></div>Create your <a href="http://www.surveymonkey.com/">free online surveys</a> with SurveyMonkey, the world's leading questionnaire tool.</div>
</div>
<!--
<%= link_to "pluspanda", domain_index_path("pluspanda.com")%>
-->
<script type="text/javascript">
  $(function(){
    simpleTabs.init($("#switch"), $("#panel"));
  })
</script>