<!DOCTYPE html>
<html>
<head>
  <title>Graph</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "jquery", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div style="float:right"><%= flash[:notice] %></div>
  
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>
